<h2>New Client</h2>

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="/lawyer_app/client_new/" method="post">
    {% csrf_token %}
    <h3>Client ID</h3>
    <input type="text" id="client_id" name="client_id" value="" readonly /><br/>
    <h3>First Name</h3>
    <input type="text" id="first_name" name="first_name" value="" /><br/>
    <h3>Last Name</h3>
    <input type="text" id="last_name" name="last_name" value="" /><br/>
    <h3>Address 1</h3>
    <input type="text" id="address_1" name="address_1" value="" /><br/>
    <h3>Address 2</h3>
    <input type="text" id="address_2" name="address_2" value="" /><br/>
    <h3>City</h3>
    <input type="text" id="city" name="city" value="" /><br/>
    <h3>State</h3>
    <input type="text" id="state" name="state" value="" /><br/>
    <h3>Zip</h3>
    <input type="text" id="zip" name="zip" value="" /><br/>
    <h3>Phone</h3>
    <input type="text" id="phone_1" name="phone_1" value="" /><br/>
    <h3>Email</h3>
    <input type="text" id="email" name="email" value="" /><br/>
    <h3>Date of Birth</h3>
    <input type="text" id="date_of_birth" name="date_of_birth" value="" /><br/>
    <h3>Social Security Number</h3>
    <input type="text" id="ss_num" name="ss_num" value="" /><br/>
    <h3>Accident Date</h3>
    <input type="text" id="accident_date" name="accident_date" value="" /><br/>
    <h3>Location</h3>
    <input type="text" id="location" name="location" value="" /><br/>
    <h3>Injury</h3>
    <input type="text" id="injury" name="injury" value="" /><br/>
    <h3>Date Signed Up</h3>
    <input type="text" id="date_signed_up" name="date_signed_up" value="" /><br/>
    <h3>Date Filed</h3>
    <input type="text" id="date_filed" name="date_filed" value="" /><br/>
    <h3>Statute of Limitation Date</h3>
    <input type="text" id="statute_of_limit_date" name="statute_of_limit_date" value="" /><br/>
    <h3>Referral Source</h3>
    <input type="text" id="referral_source" name="referral_source" value="" /><br/>
    <input type = "submit" value = "client_new">
</form>

